<nz-spin [nzSpinning]="isSpinning">
  <div *ngFor="let booking of bookings">
    <div style="margin-top: 10px;" class="child">
      <div nz-row style="background-color: #ccc; padding: 24px;">
        <div nz-col nzSpan="8">
          <h2 style="cursor: pointer; color: #108ee9;">Booking Status: {{booking.bookCarStatus}}</h2>
          <h5>Booking Id: <b>{{booking.id}}</b> - car id: <b>{{booking.carId}}</b> </h5>
          <h5>From Date: <b>{{booking.fromDate | date: 'dd-MM-yyyy'}}</b> - To Date: <b>{{booking.toDate | date: 'dd-MM-yyyy'}}</b></h5>
          <h5>No of Days: <b>{{booking.days}}</b></h5>
          <h5>Total Price: <b>{{booking.price}} $</b></h5>
        </div>
      </div>
    </div>
  </div>
</nz-spin>